<div class="chatroom container"
data-controller="chatroom-subscription"
data-chatroom-subscription-chatroom-id-value="<%=@chatroom.id %>"
data-chatroom-subscription-current-user-id-value="<%= current_user.id%>">
  <div class="row">

  <div class="col-sm-2 chatrooms-list">
    <div class="mb-4 mt-4">
      <%= link_to 'Create #Chatroom', new_chatroom_path, { :class=>"new-room-button" } %>
    </div>
    <h5 class="mb-3">Chatrooms</h5>
    <% Chatroom.all.each do |chatroom| %>
      <div class="mb-2"><%= link_to "##{chatroom.name}", chatroom_path(chatroom.id), { :class=>"chatroom-links" }  %></div>
    <% end %>
    <hr />
    <h5 class="mb-3">Current Users</h5>
    <% User.all.each do |user| %>
      <p><%= user.nickname %></p>
    <% end %>
  </div>
  <div class="col-sm-10">
    <div class="d-flex justify-content-center">
      <h1><%= @chatroom.name %></h1>
    </div>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <div class="message-row d-flex <%=message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start'  %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style'%>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>
    <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f| %>
      <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
  </div>
</div>
